<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-danger py-2">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center gap-3" [routerLink]="['/']">
        <img src="assets/images/logo-kanji-arena-min.png" height="48" alt="Kanji Arena" class="logo-shadow" />
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">

        <!-- NAV CENTER -->
        <div class="kanji-nav-center mx-auto">
          <div class="kanji-callout text-danger fw-bold small mb-2">🔥 Choisis ton arène et affronte nos gladiateurs :</div>
          <ul class="kanji-link-group d-flex flex-row align-items-center justify-content-center gap-3">
            <li class="kanji-link-item">
              <a class="kanji-button" [routerLink]="['/games/classic']" routerLinkActive="active">
                <span style="font-size: 1.2em; vertical-align: middle;">漢</span> Classic
              </a>
            </li>
            <li class="kanji-link-item">
              <a class="kanji-button" [routerLink]="['/games/reverse']" routerLinkActive="active">
                <span style="font-size: 1.2em; vertical-align: middle;">逆</span> Reverse
              </a>
            </li>
            <li class="kanji-link-item">
              <a class="kanji-button" [routerLink]="['/ideas']" routerLinkActive="active">
                <i class="bi bi-lightbulb"></i> À venir...
              </a>
            </li>
          </ul>
        </div>

        <!-- NAV RIGHT -->
        <ul class="navbar-nav ms-auto d-flex flex-column gap-2">
          <!-- Utilisateur non connecté -->
          @if (!username) {
          <li class="nav-item">
            <a class="btn btn-outline-final" [routerLink]="['/register']">
              <i class="bi bi-person-plus"></i> Inscription </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-final" [routerLink]="['/login']">
              <i class="bi bi-box-arrow-in-right"></i> Connexion </a>
          </li>
          } @else {
          <!-- Utilisateur connecté -->
          <li class="nav-item">
            <a class="btn btn-outline-final text-center" [routerLink]="['/dashboard/profile']">
              <i class="bi bi-person-circle"></i> [ {{ username }} ] Mon profil
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-final" (click)="logout()">
              <i class="bi bi-box-arrow-in-left"></i> Déconnexion </a>
          </li>
          }
        </ul>

      </div>
    </div>
  </nav>
</header>