<main class="container my-5">
    <!-- Section Hero -->
    <section class="text-center mb-5">
        <div class="mb-3">
            <i class="bi bi-person-plus-fill display-3 text-danger"></i>
        </div>
        <h1 class="fw-bold text-danger mb-3">{{ 'REGISTER.TITLE' | translate }}</h1>
        <p class="text-muted fs-5">
            {{ 'REGISTER.SUBTITLE' | translate }}
        </p>
    </section>

    <!-- Section Formulaire -->
    <section class="row">
        <div class="col-md-6 offset-md-3">
            <form (submit)="onSubmit()" [formGroup]="form" class="bg-light p-4 rounded-4 shadow">
                <div class="mb-3">
                    <label for="username" class="form-label fw-bold text-danger">
                        <i class="bi bi-person-fill me-2"></i>{{ 'REGISTER.USERNAME_LABEL' | translate }}
                    </label>
                    <div class="input-group">
                        <span class="input-group-text bg-white"><i class="bi bi-person-badge text-danger"></i></span>
                        <input formControlName="username" type="text" id="username" name="username" class="form-control"
                            [placeholder]="'REGISTER.USERNAME_PLACEHOLDER' | translate" required>
                    </div>
                    @if(form.get("username")?.touched && form.get("username")?.invalid) {
                    @if(form.get('username')?.hasError('pattern')) {
                    <small class="text-danger fst-italic">{{ 'REGISTER.USERNAME_ERROR' | translate }}</small>
                    }
                    }
                </div>
                <div class="mb-3">
                    <label for="nationality" class="form-label fw-bold text-danger">
                        <i class="bi bi-flag-fill me-2"></i>{{ 'REGISTER.NATIONALITY_LABEL' | translate }}
                    </label>
                    <div class="form-control pt-4">
                        <ng-country-select class="m-0" id="nationality" [lang]="lang === 'ja' ? 'en' : lang"
                            [formControl]="nationalityControl" [searchAllLanguages]="true" [showCodes]="false"
                            [debounceTime]="200" [required]="true"
                            [requiredErrorMessage]="'REGISTER.NATIONALITY_REQUIRED' | translate"
                            [showRequiredErrorMessage]="false" [disabled]="false" [appearance]="'outline'"
                            [placeholder]="'REGISTER.NATIONALITY_PLACEHOLDER' | translate" [color]="'primary'"
                            [alpha2Only]="false" [alpha3Only]="false" [showFlag]="true"
                            [excludeCountries]="[]"></ng-country-select>
                    </div>
                    @if (form.get("nationality")?.touched && form.get("nationality")?.invalid) {
                    <small class="text-danger fst-italic">{{ 'REGISTER.NATIONALITY_ERROR' | translate }}</small>
                    }
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label fw-bold text-danger">
                        <i class="bi bi-envelope-fill me-2"></i>{{ 'REGISTER.EMAIL_LABEL' | translate }}
                    </label>
                    <div class="input-group">
                        <span class="input-group-text bg-white"><i class="bi bi-at text-danger"></i></span>
                        <input formControlName="email" type="text" id="email" name="email" class="form-control"
                            [placeholder]="'REGISTER.EMAIL_PLACEHOLDER' | translate" required>
                    </div>
                    @if(form.get("email")?.touched && form.get("email")?.invalid) {
                    @if(form.get('email')?.hasError('invalidEmail')) {
                    <small class="text-danger fst-italic">{{ 'REGISTER.EMAIL_ERROR' | translate }}</small>
                    }
                    }
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label fw-bold text-danger">
                        <i class="bi bi-lock-fill me-2"></i>{{ 'REGISTER.PASSWORD_LABEL' | translate }}
                    </label>
                    <div class="input-group">
                        <span class="input-group-text bg-white"><i class="bi bi-key-fill text-danger"></i></span>
                        <input formControlName="password" type="password" id="password" name="password"
                            class="form-control" [placeholder]="'REGISTER.PASSWORD_PLACEHOLDER' | translate" required>
                    </div>
                    @if(form.get("password")?.touched && form.get("password")?.invalid) {
                    @if(form.get('password')?.hasError('weakPassword')) {
                    <small class="text-danger fst-italic">{{ 'REGISTER.PASSWORD_ERROR' | translate }}</small>
                    }
                    }
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label fw-bold text-danger">
                        <i class="bi bi-shield-lock-fill me-2"></i>{{ 'REGISTER.CONFIRM_LABEL' | translate }}
                    </label>
                    <div class="input-group">
                        <span class="input-group-text bg-white"><i class="bi bi-shield-check text-danger"></i></span>
                        <input formControlName="confirmPassword" type="password" id="confirmPassword"
                            name="confirmPassword" class="form-control"
                            [placeholder]="'REGISTER.CONFIRM_PLACEHOLDER' | translate" required>
                    </div>
                    @if(form.get("confirmPassword")?.touched && form.get("confirmPassword")?.invalid) {
                    @if(form.get('confirmPassword')?.hasError('confirmPassword')) {
                    <small class="text-danger fst-italic">{{ 'REGISTER.PASSWORD_ERROR' | translate }}</small>
                    }
                    }
                    @if (form.errors?.['passwordMismatch'] && form.get('confirmPassword')?.touched) {
                    <small class="text-danger fst-italic">{{ 'REGISTER.PASSWORD_MISMATCH' | translate }}</small>
                    }
                </div>
                <div class="text-center mt-4">
                    <button [disabled]="!form.valid || loading" class="btn btn-danger text-white fw-bold px-4">
                        <i class="bi bi-person-plus-fill me-2"></i>
                        @if (!loading) {
                        {{ 'REGISTER.BUTTON' | translate }}
                        } @else {
                        <span class="spinner-border spinner-border-sm me-2"></span> {{ 'REGISTER.LOADING' | translate }}
                        }
                    </button>
                </div>
            </form>
        </div>
    </section>

    <!-- Section Call-To-Action -->
    <section class="text-center mt-5">
        <p class="text-muted">{{ 'REGISTER.ALREADY_REGISTERED' | translate }}</p>
        <a routerLink="/login" routerLinkActive="active" class="btn btn-outline-danger fw-bold">
            <i class="bi bi-box-arrow-in-right me-2"></i>{{ 'REGISTER.LOGIN' | translate }}
        </a>
    </section>
</main>