<main class="container my-5">
    <!-- Section Hero -->
    <section class="text-center mb-5">
        <div class="mb-3">
            <i class="bi bi-person-plus-fill display-3 text-danger"></i>
        </div>
        <h1 class="fw-bold text-danger mb-3">Inscription</h1>
        <p class="text-muted fs-5">
            Créez votre compte et rejoignez la Kanji-Arena ! Serez-vous le prochain champion ?
        </p>
    </section>

    <!-- Section Formulaire -->
    <section class="row">
        <div class="col-md-6 offset-md-3">
            <form (submit)="onSubmit()" [formGroup]="form" class="bg-light p-4 rounded-4 shadow">
                <div class="mb-3">
                    <label for="username" class="form-label fw-bold text-danger">
                        <i class="bi bi-person-fill me-2"></i>Choisissez votre pseudo de gladiateur !
                    </label>
                    <div class="input-group">
                        <span class="input-group-text bg-white"><i class="bi bi-person-badge text-danger"></i></span>
                        <input formControlName="username" type="text" id="username" name="username" class="form-control"
                            placeholder="Choisissez un pseudo" required>
                    </div>
                    @if(form.get("username")?.touched && form.get("username")?.invalid) {
                    @if(form.get('username')?.hasError('pattern')) {
                    <small class="text-danger fst-italic">Votre pseudo doit contenir de 3 à 12 caractères
                        alphanumériques</small>
                    }
                    }
                </div>
                <div class="mb-3">
                    <label for="nationality" class="form-label fw-bold text-danger">
                        <i class="bi bi-flag-fill me-2"></i>Votre nationalité
                    </label>
                    <div class="form-control pt-4">                        
                            <ng-country-select class="m-0" id="nationality" [lang]="'fr'" [formControl]="nationalityControl" [searchAllLanguages]="true" [showCodes]="false"
                                [debounceTime]="200" [required]="true" [requiredErrorMessage]="'A country is required'"
                                [showRequiredErrorMessage]="false" [disabled]="false" [appearance]="'outline'" [placeholder]="'Votre pays d\'origine'"
                                [color]="'primary'" [alpha2Only]="true" [alpha3Only]="false" [showFlag]="true"
                                [excludeCountries]="[]"></ng-country-select>
                    </div>
                    @if (form.get("nationality")?.touched && form.get("nationality")?.invalid) {
                    <small class="text-danger fst-italic">Veuillez sélectionner une nationalité.</small>
                    }
                    <!-- @if (form.get("nationality")?.touched && form.get("nationality")?.hasError('invalidCountry')) {
                    <small class="text-danger fst-italic">Veuillez sélectionPROUTner une nationalité.</small>
                    } -->
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label fw-bold text-danger">
                        <i class="bi bi-envelope-fill me-2"></i>Votre adresse email
                    </label>
                    <div class="input-group">
                        <span class="input-group-text bg-white"><i class="bi bi-at text-danger"></i></span>
                        <input formControlName="email" type="text" id="email" name="email" class="form-control"
                            placeholder="Votre adresse email" required>
                    </div>
                    @if(form.get("email")?.touched && form.get("email")?.invalid) {
                    @if(form.get('email')?.hasError('pattern')) {
                    <small class="text-danger fst-italic">Saisissez une adresse email correcte</small>
                    }
                    }
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label fw-bold text-danger">
                        <i class="bi bi-lock-fill me-2"></i>Mot de passe
                    </label>
                    <div class="input-group">
                        <span class="input-group-text bg-white"><i class="bi bi-key-fill text-danger"></i></span>
                        <input formControlName="password" type="password" id="password" name="password"
                            class="form-control" placeholder="Entrez votre mot de passe" required>
                    </div>
                    @if(form.get("password")?.touched && form.get("password")?.invalid) {
                    @if(form.get('password')?.hasError('pattern')) {
                    <small class="text-danger fst-italic">Le mot de passe doit contenir au moins 8 caractères, une
                        majuscule, une minuscule, un chiffre et un caractère spécial.</small>
                    }
                    }
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label fw-bold text-danger">
                        <i class="bi bi-shield-lock-fill me-2"></i>Confirmez le mot de passe
                    </label>
                    <div class="input-group">
                        <span class="input-group-text bg-white"><i class="bi bi-shield-check text-danger"></i></span>
                        <input formControlName="confirmPassword" type="password" id="confirmPassword"
                            name="confirmPassword" class="form-control" placeholder="Confirmez votre mot de passe"
                            required>
                    </div>
                    @if(form.get("confirmPassword")?.touched && form.get("confirmPassword")?.invalid) {
                    @if(form.get('confirmPassword')?.hasError('confirmPassword')) {
                    <small class="text-danger fst-italic">Le mot de passe doit contenir au moins 8 caractères, une
                        majuscule, une minuscule, un chiffre et un caractère spécial.</small>
                    }
                    }
                    @if (form.errors?.['passwordMismatch'] && form.get('confirmPassword')?.touched) {
                    <small class="text-danger fst-italic">Les mots de passe ne correspondent pas.</small>
                    }
                </div>
                <div class="text-center mt-4">
                    <button [disabled]="!form.valid || loading" class="btn btn-danger text-white fw-bold px-4">
                        <i class="bi bi-person-plus-fill me-2"></i>
                        @if (!loading) {
                        Je m'inscris sur Kanji-Arena
                        } @else {
                        <span class="spinner-border spinner-border-sm me-2"></span> Chargement...
                        }
                    </button>
                </div>
            </form>
        </div>
    </section>

    <!-- Section Call-To-Action -->
    <section class="text-center mt-5">
        <p class="text-muted">Déjà inscrit ?</p>
        <a routerLink="/login" routerLinkActive="active" class="btn btn-outline-danger fw-bold">
            <i class="bi bi-box-arrow-in-right me-2"></i>Se connecter
        </a>
    </section>
</main>