<main class="container my-5">
    <!-- Section Hero -->
    <section class="text-center">
      <h1 class="fw-bold text-danger">Bienvenue sur Kanji-Arena</h1>
      <p class="text-muted">Plateforme mondiale de jeux en ligne destinés aux apprenants en Japonais.</p>
      <p class="text-muted">Participez à des jeux basés sur les Kanji et améliorez vos compétences en Japonais tout en vous amusant !</p>
      <p class="text-muted">Multiples classements, alertes scores battus... tout est fait pour créer un engagement fort ! Alors entrez maintenant dans la Kanji-Arena et que le meilleur gagne !</p>
    </section>
  
    <!-- Section Présentation -->
    <section class="row mt-5">
      <div class="col-md-6 d-flex flex-column align-items-center">
        <!--<img src="https://via.placeholder.com/300" class="img-fluid rounded" alt="Illustration">-->
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h2 class="fw-bold text-danger">À propos</h2>
        <p>Nous partageons notre passion pour la culture japonaise en proposant des produits authentiques et uniques.</p>
      </div>
    </section>
  
    <!-- Section Boutons Call-To-Action -->
    <section class="text-center mt-5">
      <a href="#shop" class="btn btn-danger text-white fw-bold me-2">Explorer</a>
      <a href="#contact" class="btn btn-outline-danger fw-bold">Nous Contacter</a>
    </section>
  </main>
  